.container {
    display: flex;
    flex-direction: column;
    margin: 30px 20px;
    align-items: center;
}

.titulo {
    font-size: 32px;
    font-family: var(--fonte-titulo);
    font-weight: 400;
    text-align: center;
    padding-bottom: 30px;
}

.divBotao {
    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    .titulo {
        width: 648px;
        font-size: 48px;
    }
}
@media (min-width: 1440px) {
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 795px;
        /* border: 1px solid red; */
    }
    .form__dupla {
        display: flex;
        width: 100%;
        gap: 30px;
    }
    .divBotao {
        width: 164px;
        height: 56px;
    }
}