.container {
background: var(--background);
display: flex;
flex-direction: column;
align-items: center;
padding: 32px;
gap: 32px;
width: 100%;
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
margin: 30px 20px 60px;
text-align: center;
overflow: hidden;
}

.box__logos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.qrcode {
    width: 358px;
    margin-bottom: 25px;
}
.box__textos {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.titulo {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
    .qrcode {
        width: 584px;
    }
}


@media (min-width: 1440px) {
    .container {
        width: 792px;
        height: 350px;
    }
    .qrcode {
        width: 80%;
        margin-left: -200px;
    }
    .titulo {
        margin-bottom: 20px;
    }
    .desktopBox {
        display: flex;
    }
    .box__textos {
        text-align: left;
        z-index: 2;
        margin-left: -60px;
    }
}