.articleHome {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    padding: 25px 25px 60px;
    align-items: center;
}
.articleHome__img {
    width:100%;
}
.spanTitulo::before {
    content: '< ';
}
.spanTitulo::after {
    content: ' >';
}

.articleHome__titulo {
    padding: 20px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.articleHome__texto {
    font-weight: 500;
    font-size: 20px;
    line-height: 2;
    color: var(--cinza);
    text-align: center;
    padding-bottom: 20px;
}
.articleHome__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .articleHome {
        padding: 32px 60px;
    }

}
@media (min-width: 1440px) {
    .articleHome {
        flex-direction: row;
        gap: 30px;
        padding: 40px 80px;
    }
    .articleHome__img {
        width:50%;
        height: 401px;
    }
    .articleHome__box {
        display: flex;
        width: 50%;
    }
    .articleHome__titulo {
        font-size: 30px;
    }
    .articleHome__texto  {
        font-size: 23px;
        text-align: center;
        line-height:40px;
    }
}