:root {
  --fonte-texto: 'Raleway', sans-serif; 
  --fonte-titulo: 'Calistoga', cursive;
  --background: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);;
  --azul-claro: #C8DEEF;
  --branco: #FBF0DD;
  --amarelo: #FACF9D;
  --azul-escuro: #2E7BA2;
  --mostarda: #DF9010;
  --hover: #519EC5;
  --white: #fff;
  --cinza: #444;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  background-image: var(--background);
  font-family: var(--fonte-texto);
  color: var(--cinza);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
